<img [src]="Image" alt="" class="w-100  img-responsive">
<nav class="navbar navbar-expand-sm lg ">
  <div class="container">
    <div>
      <h2 style="background-color: white;">DEMO APP</h2>
    </div>
    <div>
      <ul class="navbar-nav" style="color: white; ">
        <li class="nav-item"><a href="" routerLink="/home" routerLinkActive="active">HOME</a></li>
        <!-- <li class="nav-item"><a href="" routerLink="/profile" routerLinkActive="active"> PROFILE</a></li> -->
        <li class="nav-item"><a href="" routerLink="/allprofile" routerLinkActive="active">All PROFILE</a></li>
        <li class="nav-item"><a href="" routerLink="#" routerLinkActive="active">ABOUT US</a> </li>
        <li class="nav-item"><a href="" routerLink="#" routerLinkActive="active">CLIENTS</a></li>
        <li class="nav-item"> <a href="" routerLink="#" routerLinkActive="active">JOBS</a></li>
        <li class="nav-item"> <a href="" routerLink="#" routerLinkActive="active">EMPLOYERS</a></li>
        <li class="nav-item"> <a href="" routerLink="#" routerLinkActive="active">CONTACT US</a></li>
      </ul>
    </div>
  </div>
</nav>





<router-outlet></router-outlet>